@import "vars"


/*==========  Desktop First  ==========*/

// Extra Large devices (desktops, less than 1600px)
@media (max-width: 1600px)
	.header__logo-wrap
		max-width: 20%
	.header__logo-text
		font-size: 14px
	.header__menu ul li a
		font-size: 14px
	.content__block-item select
		font-size: 26px
	.content__block-item
		margin-bottom: 1%
	.content__block-item select option
		font-size: 22px
	.content__block button
		font-size: 23px
	.select-cust
		font-size: 14px
	.select-cust option
		font-size: 14px
	.header__phone--callback
		margin-left: 20px
		font-size: 14px
	.header__phone--callback .phone
		margin-bottom: 0
	.phone
		font-size: 16px
	.footer
		font-size: 16px
	.footer-logo-text
		font-size: 16px
	.footer-menu ul li a
		padding-left: 50px
	.footer-callback .social a img
		width: 50px
		height: 50px

// Large devices (desktops, less than 1200px)
+media-breakpoint-down(lg)
	.header__logo-wrap
		max-width: 42%
	.header
		&__menu
			display: none
			position: absolute
			background-color: #fff
			height: 80px
			top: 100%
			width: 100%
			left: 0
			border-top: 1px solid #efe8e8
			z-index: -1
		&__phone
			&--callback
				padding-right: 30px
	.header__menu ul
		height: 100%
		justify-content: center
		align-items: center
		z-index: -1
		box-shadow: 10px 10px 20px rgba(0,0,0,.1)
	.toggle-btn
		display: block
	.content__block-item select
		font-size: 20px
	.content__block button
		font-size: 20px
	.footer
		font-size: 14px
	.footer-menu ul li a
		padding-left: 10px
		font-size: 14px
		padding-bottom: 10px
	.footer .work-time
		font-size: 14px
		padding-left: 30px
	.footer-logo-text
		font-size: 16px
	.footer-callback-phone
		font-size: 16px
	.footer-callback .social
		width: 85%
		margin-left: auto
	.footer-callback .social a img
		width: 45px
		height: 45px
	section .container
		padding: 0 15px
	.about
		padding-left: 0


// Medium devices (tablets, less than 992px)
+media-breakpoint-down(md)
	.content__block-item select option
		font-size: 18px
	.content__block--mid
		font-size: 14px
	.content__block-item select
		font-size: 18px
	.about-text
		font-size: 20px
	.footer .work-time
		padding-left: 0
	.footer-menu ul li a
		padding-left: 20px
		padding-bottom: 5px
	.footer-logo-text
		font-size: 13px
	.footer-callback .social a img
		width: 40px
		height: 40px
		margin-bottom: 20px 
	.footer p
		font-size: 12px
	.footer-callback
		justify-content: flex-start
		text-align: left
	.footer-callback .social
		width: 100%
		margin-left: auto
	.footer-callback-phone
		font-size: 14px

// Small devices (landscape phones, less than 768px)
+media-breakpoint-down(sm)
	.partners-slider .next, .partners-slider .prev
		z-index: 1
	.header
		z-index: 101
	.header
		.select-cust
			display: none
	.header__menu
		height: calc(100vh - 120px)
	.header__menu ul
		flex-direction: column
	.header__menu ul li
		margin-right: 0
		width: 100%
		text-align: center
	.header__menu ul li a
		display: block
		padding: 5px 0
		font-size: 16px
		font-weight: 500
	.header__phone--callback
		margin-left: 0
	.phone
		font-size: 14px
	.footer-logo a svg
		max-width: 400px
		width: 100%
	.footer-logo-text
		font-size: 16px
		text-align: left
		margin-bottom: 15px
	.footer-menu
		margin-bottom: 18px
	.footer-menu ul li a
		padding-left: 0
		font-size: 16px
		padding-bottom: 3px
	.footer .work-time
		font-size: 16px
		margin-bottom: 18px
	.footer-callback
		flex-direction: row
		justify-content: flex-start
		align-items: center
	.footer-callback .social
		width: auto
		margin-right: 0 
		margin-left: 30px
		order: 2
		align-items: center
	.footer-callback .social a img
		margin-bottom: 0
		margin-right: 10px
	.stock
		margin-top: 0
	section h2
		font-size: 24px
	.about
		padding-left: 0
		padding-top: 10%
		padding-bottom: 23%
	.about-text
		font-size: 16px
	.stock__slider-slide .short_name,
	.stock__slider-slide .short_desc,
	.stock__slider-slide .show_more,
	.stock__slider-slide img
		width: 85%

// Extra small devices (portrait phones, less than 576px)
+media-breakpoint-down(xs)
	.header-wrap
		min-height: 90px
	.header__phone--callback
		display: none
	.phone
		font-size: 12px
	.header__phone--callback
		font-size: 12px
	.header__logo-wrap
		max-width: 65%
	.header__logo-text
		font-size: 12px
	.header__menu ul .phone
		display: block
		font-size: 16px
		margin-top: 20px
		color: $accent


/*==========  Mobile First  ==========*/

// Small devices (landscape phones, 576px and up)
+media-breakpoint-up(sm)

// Medium devices (tablets, 768px and up)
+media-breakpoint-up(md)

// Large devices (desktops, 992px and up)
+media-breakpoint-up(lg)
	.content
		height: 570px

// Extra large devices (large desktops, 1200px and up)
+media-breakpoint-up(xl)


/*==========  Using the minimum and maximum breakpoint widths  ==========*/

// Extra small devices (portrait phones, less than 576px)
+media-breakpoint-only(xs)

// Small devices (landscape phones, 576px and up)
+media-breakpoint-only(sm)

// Medium devices (tablets, 768px and up)
+media-breakpoint-only(md)

// Large devices (desktops, 992px and up)
+media-breakpoint-only(lg)

// Extra large devices (large desktops, 1200px and up)
+media-breakpoint-only(xl)

