@import "vars"


/*==========  Desktop First  ==========*/

// Extra Large devices (desktops, less than 1600px)
@media (max-width: 1591.98px)
	.header__logo-wrap
		max-width: 20%
	.header__logo-text
		font-size: 14px
	.header__menu ul li a
		font-size: 14px
	.content__block-item select
		font-size: 26px
	.content__block-item
		margin-bottom: 1%
	.content__block-item select option
		font-size: 22px
	.content__block button
		font-size: 23px
	.select-cust
		font-size: 14px
	.select-cust option
		font-size: 14px
	.header__phone--callback
		margin-left: 20px
		font-size: 14px
	.header__phone--callback .phone
		margin-bottom: 0
	.phone
		font-size: 16px
	.footer
		font-size: 16px
	.footer-logo-text
		font-size: 16px
	.footer-menu ul li a
		padding-left: 50px
	.footer-callback .social a img
		// width: 50px

// Large devices (desktops, less than 1200px)
+media-breakpoint-down(lg)
	.header__logo-wrap
		max-width: 42%
	.header
		&__menu
			display: none
			position: absolute
			background-color: #fff
			height: 110px
			top: 100%
			width: 100%
			left: 0
			border-top: 1px solid #efe8e8
			z-index: -1
		&__phone
			&--callback
				padding-right: 30px
	.header__menu ul
		height: 100%
		justify-content: space-evenly
		align-items: baseline
		padding-top: 30px
		z-index: -1
		box-shadow: 10px 10px 20px rgba(0,0,0,.1)
	.toggle-btn
		display: block
	.content__block-item select
		font-size: 20px
	.content__block button
		font-size: 20px
	.footer
		font-size: 14px
	.footer-menu ul li a
		padding-left: 10px
		font-size: 14px
		padding-bottom: 10px
	.footer .work-time
		font-size: 14px
		padding-left: 30px
	.footer-logo-text
		font-size: 16px
	.footer-callback-phone
		font-size: 16px
	.footer-callback .social
		width: 85%
		margin-left: auto
	.footer-callback .social a img:not(.lazyload)
		// width: 45px
		height: 45px
	section .container
		padding: 0 15px


// Medium devices (tablets, less than 992px)
+media-breakpoint-down(md)
	.header .select-cust
		max-width: 135px
	.content__block-item select option
		font-size: 18px
	.content__block--mid
		font-size: 14px
	.content__block-item select
		font-size: 18px
	.about-text
		font-size: 20px
	.footer .work-time
		padding-left: 0
	.footer-menu ul li a
		padding-left: 20px
		padding-bottom: 5px
	.footer-logo-text
		font-size: 13px
	.footer-callback .social a img
		// width: 40px
	.footer p
		font-size: 12px
	.footer-callback
		justify-content: flex-start
		text-align: left
	.footer-callback .social
		width: 100%
		margin-left: auto
	.footer-callback-phone
		font-size: 14px

@media (max-width: 803.98px)
	.header__menu ul
		padding-top: 20px
		// li
			// margin-right: 25px


// Small devices (landscape phones, less than 768px)
+media-breakpoint-down(sm)
	button,
	select
		&:focus
			outline: none

	.header
		.select-cust
			display: none
	.header__menu
		// height: calc(100vh - 120px)
		height: 530px
	.header__menu ul
		flex-direction: column
		padding-top: initial
		justify-content: center
		align-items: center
	.header__menu ul li
		margin-right: 0
		width: 100%
		text-align: center
	.header__menu ul li a
		display: block
		padding: 10px 0
		font-size: 16px
		font-weight: 500
	.header__menu ul li a p br
		display: none
	.header__phone--callback
		margin-left: 0
	.phone
		font-size: 14px
	.footer-logo a svg
		max-width: 400px
		width: 100%
	.footer-logo-text
		font-size: 16px
		text-align: left
		margin-bottom: 15px
	.footer-menu
		margin-bottom: 28px
	.footer-menu ul li 
		border-top: 1px solid #666
		a
			padding-left: 0
			font-size: 16px
			padding: 10px 0
	.footer .work-time
		font-size: 16px
		margin-bottom: 28px
	.footer-callback
		flex-direction: row
		justify-content: flex-start
		align-items: center
	.footer-callback .social
		width: auto
		margin-right: 0 
		margin-left: 30px
		order: 2
		align-items: center
	.footer-callback-phone a
		padding: 10px 0
	.stock
		margin-top: 0
	section h1, h2
		font-size: 24px
	.about-text
		font-size: 16px
	.stock__slider-slide .short_name,
	.stock__slider-slide .short_desc,
	.stock__slider-slide .show_more,
	.stock__slider-slide img
		width: 85%
	.about
		&.load-imgs.may9:before
			background-size: contain
			background-position-x: calc(50% + 140px)

	.hero
		position: relative
		top: 0
		&-wrap
			flex-direction: column
		&-form
			box-shadow: 0 0 30px rgba($text, .3)
			margin: 0 auto 
	.main-slider
		height: $height_banner_mobile
		margin-top: $height_header_mobile
		&.slick-dotted.slick-slider
			margin-bottom: 5rem
		.slick-slide
			height: $height_banner_mobile
		.caption
			top: 5vh
			font-size: 32px
			text-align: center
			width: 100%
			left: auto
			margin: 0 auto

// Extra small devices (portrait phones, less than 576px)
+media-breakpoint-down(xs)
	.table-scroll table.color
		padding: 0 15px
	.header-wrap
		min-height: 90px
	.header__phone--callback
		display: none
	.phone
		font-size: 12px
	.header__phone--callback
		font-size: 12px
	.header__logo-wrap
		max-width: 75%
	.header__logo-text
		font-size: 12px
	.header__menu ul .phone
		display: block
		font-size: 16px
		margin-top: 20px
		color: $accent

@media (max-width: 380px)
	.content
		&.mar8.load-imgs:before
			background-position: 46% center

/*==========  Mobile First  ==========*/

@media (min-width: 370px)
	.about
		&.mar8:after
			top: -70%
		&.mar8:before
			background-size: 140%

@media (min-width: 490px)
	.about
		&.mar8:before
			background-size: 120%


// Small devices (landscape phones, 576px and up)
+media-breakpoint-up(sm)
	.mobile_only
		display: none
	.about
		&.load-imgs:before
			background-size: 768px
			background-position: right
		&.load-imgs:after
			background-size: 110%
			background-position: 590% 0
		// hny2020
		&.hny2020:after
			background-size: 57%
			background-position: -10% 0
		&.mar8:before
			background-size: 60vw
			background-position: right top
		&.mar8:after
			top: 30%
			background-size: 47%
			background-position: 0 0
	.text
		margin-bottom: 50px

// Medium devices (tablets, 768px and up)
+media-breakpoint-up(md)
	.avtodetail .product
		.photos
			width: 50%
			float: left
			margin: 0 2rem 2rem 0
	.about
		padding-top: 10%
		margin-bottom: 10%
		&.load-imgs.may9:before
			background-size: contain
			background-position: right
	.about-text
		padding-left: 10%
	.about
		&.feb23:after
			top: -10%
	.footer
		&.mar8:before
			background-size: contain
	.hero
		max-height: 90vh
		&-form
			background-color: #ffffffcc


// Large devices (desktops, 992px and up)
+media-breakpoint-up(lg)
	.content
		height: 570px
		&.hb2021:before
			background-position: 10% bottom, -140px center, calc(100% + 120px) center, center center
	.footer-callback .social a img:not(.lazyload)
		height: 50px
	.vehicle-options
		min-height: 70px
	.about
		&.feb14:after
			background-size: 70%
			background-position: -20vw 0
	.hero
		&-form
			margin-right: 5vw

// Extra large devices (large desktops, 1200px and up)
+media-breakpoint-up(xl)
	.content__block button
		bottom: -112px
	.header__menu
		margin: 0px 20px
		flex: 1 0 auto
		ul 
			justify-content: space-evenly
			li
				// margin-right: 16px
				// max-width: 140px
				&.last,&.mobile
					display: none
	.header__phone-wrap
		flex: 0 0 auto
	.about-text
		max-width: 80%

@media (min-width: 1300px)
	// .header__menu ul li
		// margin-right: 25px
	.about
		&.feb14:after
			background-position: -10vw 0
		&.mar8:after
			background-size: 37%


@media (min-width: 1600px)
	.avtopark .product
		flex: 0 0 25%
		max-width: 25%
	.content__block button
		top: 164px
	.about
		&.load-imgs:before
			background-size: 50%



/*==========  Using the minimum and maximum breakpoint widths  ==========*/

// Extra small devices (portrait phones, less than 576px)
+media-breakpoint-only(xs)

// Small devices (landscape phones, 576px and up)
+media-breakpoint-only(sm)
	.vehicle-options
		min-height: 130px

// Medium devices (tablets, 768px and up)
+media-breakpoint-only(md)
	.vehicle-options
		min-height: 104px
	.header__menu ul
		padding-left: 16px

// Large devices (desktops, 992px and up)
+media-breakpoint-only(lg)

// Extra large devices (large desktops, 1200px and up)
+media-breakpoint-only(xl)


@media print
	main.content, 
	nav.header__menu, 
	.header__phone-wrap,
	.button-open_popup, 
	section.stock,
	section.video,
	footer.footer, 
	div#qmEditor,
	.text h1,
	#leadia_science_widget,
	section.garland
		display: none !important

	.header-wrap:after
		content: 'Утверждаю                                Директор          Бумеранг-Авто       Попов М.С.                                                                                  "___" ________ 20___ г.'
		display: block
		width: 343px
		position: absolute
		right: 0
		top: 21px
		font-size: 14px

	header#header
		position: initial

	.header.hide
		box-shadow: none

	.header__logo-wrap
		max-width: 350px

	table.price-table thead th
		position: initial !important

	.text p, 
	.text .prajs
		font-size: 0.5rem

	section.text
		padding-top: 0
		width: 100%
		min-width: 750px

	table.color tr td
		padding: 2px

	.icon
		width: 10px
		height: 10px

	table.price-table.samara tr:nth-child(n+1) td:nth-child(9)
		background-color: #0b91d263!important


	table.price-table.samara tr:nth-child(n+1) td:nth-child(13)
		background-color: #ff6c1c63!important


