@import "vars"


/*==========  Desktop First  ==========*/

@media (max-width: 1600px)
	.header
		&__menu
			display: none
		&__phone
			&--callback
				padding-right: 30px
	.toggle-btn
		display: block

// ≥1200px
+media-breakpoint-down(lg)
	.content__block-item select
		font-size: 20px
	.content__block button
		font-size: 20px
		bottom: auto

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
