$default-font: "geometria", sans-serif
// ещё один синий
$accent: #208fce
$text: #000
$text2: #404040

$white: #fff
$black: #000

// gray80
$color_celeste_approx: #ccc

// gray93
$color_gallery_approx: #eee

// gray88
$color_bon_jour_approx: #e1e2e1
$color_bon_jour_40_approx: #ffffff66

// оранжевый
$orange: #dc5c13
// оранжевый с логотипа
$orange-logo: #ED6C05
// оранжевый из брендбука color_red_stage_approx
$orange-brand: #d55d00
// оранжевый после прозрачности
$orange-after: #f7bea2
// оранжевый темнее color_rose_of_sharon_approx
$orange-dark: #c45600
// прозрачный оранжевый
$orange-transparent: #ff6c1c63

// синий
$blue: #0b91d1
// синий с логотипа
$blue-logo: #007FC7
// синий из брендбука
$blue-brand: #0077c8
//прозрачный голубой
$blue-transparent: #007FC763

// красный
$red: #e91829

//colors
$black_alpha05: #0000000c
$black_alpha70: #000000b3

//urls
$logo_infinity: url(/assets/images/logo_infinity.svg)
$icon_file: url(../img/icons_old.png)
$new_avto: url(../img/on_pages/new-avto.png)
$trailer: url(../img/on_pages/trailer-icon-115x114-t.png)
$toggle_arrow: url(https://avtobum63.ru/assets/images/svg/013-arrow-down-sign-to-navigate-v2.svg)


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1880px)

$gutter: $grid-gutter-width
