@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

*
	box-sizing: border-box
p
	margin-bottom: 0
img
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

b, strong
	font-weight: 500

ul, li
	list-style-type: none
	padding: 0
	margin: 0
a
	color: $text2
	text-decoration: none
	transition: all .25s ease
	&:hover
		color: $accent
		text-decoration: none

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-weight: 300
	font-family: $default-font
	//font-family: 'PT Sans Caption', sans-serif;
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
.fwm
	font-weight: 500
.phone
	display: block
	font-size: 20px
	font-weight: bold
.select-cust
	padding-left: 21px
	padding-right: 20px
	border: none
	background: url(../img/loc.png) left center no-repeat, url(../img/arrow-down.png) right 10px center no-repeat
	text-transform: uppercase
	color: $accent
	letter-spacing: 1px
	font-size: 18px
	font-weight: 300
	appearance: none
	cursor: pointer
	option
		text-transform: uppercase
		font-size: 18px
		font-weight: 300
		color: $text2
button
	border: none
	background-color: transparent
.toggle-btn
	width: 50px
	height: 50px
	cursor: pointer
	display: none
	background-color: $accent
	span
		width: 30px
		height: 2px
		background-color: #fff
		display: block
		margin: 4.5px auto
		position: relative
		transition: all .2s ease-in-out
	&.active
		span:first-child
			transform: rotate(-45deg)
			top: 4px
		span:last-child
			transform: rotate(45deg)
			top: -2px
		span:nth-child(2)
			display: none
section
	padding-top: 5.8%
	.container
		padding: 0 80px
	h2
		text-transform: uppercase
		font-weight: 500
		font-size: 26px
		margin-bottom: 3%

//HEADER
.header
	background-color: #fff
	position: fixed
	width: 100%
	top: 0
	z-index: 10
	transition: all .3s ease-in-out
	&-wrap
		display: flex
		justify-content: space-between
		align-items: center
		min-height: 150px
	&__logo
		&-wrap
			max-width: 26.5%
		&-text
			text-transform: uppercase
			display: block
			margin-top: 5px
			letter-spacing: 1px
			color: $text2
			font-size: 18px
	&__menu
		ul
			display: flex
			li
				margin-right: 25px
				&:last-child
					margin-right: 0
				a
					text-transform: uppercase
	&__phone
		&-wrap
			display: flex
			justify-content: space-between
			align-items: center
		&--callback
			margin-left: 40px
			.phone
				margin-bottom: 5px
			.popup
				cursor: pointer
//HEADER END

//MAIN
.content
	background: url(../img/main-bg2.png)
	background-size: cover
	background-position: center
	width: 100%
	text-align: center
	padding-top: 25%
	padding-bottom: 23%
	text-transform: uppercase
	&__block
		position: relative
		&-item
			margin-bottom: 2%
			position: relative
			&:after
				content: ''
				display: block
				width: 170px
				height: 1px
				background-color: #cbcbcb
				position: absolute
				bottom: 0
				left: 50%
				transform: translateX(-50%)
			select
				background: url(../img/arrow-down-gray.png) right center no-repeat
				padding: 0 40px
				color: $text
				font-size: 30px
				font-weight: 500
				text-align: center
				text-align-last: right
				option
					font-size: 26px
		button
			background-color: transparent
			border: none
			color: #fff
			font-size: 25px
			font-weight: 500
			font-family: $default-font
			width: 180px
			line-height: 1.3
			text-transform: uppercase
			position: absolute
			bottom: -10vw
			left: 50%
			transform: translateX(-50%)
			text-align: center
			cursor: pointer
			padding: 0
//MAIN END

//STOCK
.stock
	position: relative
	margin-top: -14.5vmax	
	&__slider
		display: flex
		justify-content: space-between
		&-slide
			img
				width: 90%
				margin: 0 auto
		.next,
		.prev
			background: url(../img/arrow.svg)
			background-repeat: no-repeat
			width: 30px
			height: 50px
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 0
			z-index: 1
			cursor: pointer
			transition: all .2s
			opacity: .8
			&:hover
				opacity: 1
		.next
			left: auto
			right: 0
			transform: rotate(180deg)
			margin-top: -25px
//STOCK END

//ABOUT
.about
	background: url(../img/about-bg.jpg)
	background-size: cover
	background-position: center bottom
	position: relative
	margin-top: 5.8%
	padding-top: 16%
	padding-bottom: 28.2%
	padding-left: 285px
	&-text
		max-width: 850px
		width: 100%
		font-size: 24px
		line-height: 1.65

//ABOUT END

//PARTNERS
.partners
	&-slider
		.slick-track
			display: flex
			align-items: center
			img
				width: 70%
				margin: 0 auto
		.next,
		.prev
			background: url(../img/arrow.svg)
			background-repeat: no-repeat
			width: 30px
			height: 50px
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 0
			z-index: 1
			cursor: pointer
			transition: all .2s
			opacity: .8
			&:hover
				opacity: 1
		.next
			left: auto
			right: 0
			transform: rotate(180deg)
			margin-top: -25px
//PARTNERS END

.footer
	padding: 60px 0 50px
	background-color: #363636
	color: #fff
	margin-top: 4%
	font-size: 18px
	.select-cust
		background: url(../img/loc-white.png) left center no-repeat,url(../img/arrow-down-white.png) right 10px center no-repeat
		color: #fff
		margin-left: 5px
	a
		color: #fff
		opacity: .7
		&:hover
			opacity: 1
	&-logo
		a
			opacity: 1
			svg
				fill: #fff
		&-text
			font-size: 22px
			text-align: right
			margin-top: 5px
	&-menu
		ul
			li
				&:last-child a
						padding-bottom: 0
				a
					font-size: 18px
					padding-bottom: 16px
					display: inline-block
					padding-left: 100px
	.work-time
		font-size: 18px
		&-title
			font-weight: 500
		ul
			li
				opacity: .7
				padding: 2px 0
			a
				display: inline-block
				margin-top: 2px
	&-callback
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%
		text-align: right
		.social
			display: flex
			justify-content: space-between
			a
				&:first-child
					margin-left: 0
		&-phone
			font-size: 20px
			a
				display: block
				margin-bottom: 5px
				white-space: nowrap
	p
		font-size: 14px
		opacity: .7
		margin-top: 50px


@import "media" // Always at the end
