@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

*
	box-sizing: border-box
p
	margin-bottom: 0
img
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

b, strong
	font-weight: 500

ul, li
	list-style-type: none
	padding: 0
	margin: 0
a
	color: $text2
	text-decoration: none
	transition: all .25s ease
	&:hover
		color: $accent
		text-decoration: none

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-weight: 300
	font-family: $default-font
	//font-family: 'PT Sans Caption', sans-serif
	overflow-x: hidden
	color: $text
	input:not([type="range"]), textarea
		border: none
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

// Flex Basic

.flex-row
	display: flex

.flex-col
	display: flex
	flex-direction: column

.align-center
	align-items: center

.wrap
	flex-wrap: wrap

// Flex Basic End

.fwm
	font-weight: 500
.phone
	display: block
	font-size: 20px
	font-weight: bold
.select-cust
	padding-left: 21px
	padding-right: 20px
	border: none
	background: url(../img/loc.png) left center no-repeat, url(../img/arrow-down.png) right 10px center no-repeat
	text-transform: uppercase
	color: $accent
	letter-spacing: 1px
	font-size: 18px
	font-weight: 300
	appearance: none
	cursor: pointer
	option
		text-transform: uppercase
		font-size: 18px
		font-weight: 300
		color: $text2
button
	border: none
	background-color: transparent
.toggle-btn
	width: 50px
	height: 50px
	cursor: pointer
	display: none
	background-color: $accent
	text-align: center
	padding: 0 10px
	span
		width: 30px
		height: 2px
		background-color: #fff
		display: block
		margin: 4px auto
		position: relative
		transition: all .2s ease-in-out
	&.active
		span:first-child
			transform: rotate(-45deg)
			top: 4px
		span:last-child
			transform: rotate(45deg)
			top: -2px
		span:nth-child(2)
			display: none
section:not(.main-slider)
	padding-top: 3rem
section
	position: relative
	z-index: 125
	.container
		padding: 0 80px
	h1, h2
		text-transform: uppercase
		font-weight: 500
		font-size: 26px
		margin: 25px 0 10px
.clearfix
	&:after
		clear: both

#slideout
	display: none
	width: 100%
	height: 100%
	position: fixed
	background: $black_alpha70
	z-index: 9997

@import sections/header
@import sections/hero
@import sections/main-slider
@import sections/main
@import sections/text
@import sections/stock
@import sections/about
@import sections/video
@import sections/partners
@import sections/footer
@import sections/avtopark
@import sections/calc

//@extend-elements
//original selectors
//table tr th, table tr td
.border-right-bottom-padding 
	border-right: 1px solid $orange
	border-bottom: 1px solid $orange
	padding: 5px
	min-width: 60px
	text-align: center

table.color
	
	border-collapse: separate
	border-spacing: 0
	width: 100%
	tr 
		th 
			@extend .border-right-bottom-padding
			border-top: 1px solid $orange-dark
			vertical-align: middle
			&:first-child 
				padding-left: 15px
				border-left: 1px solid $orange
			h1
				margin-block-start: 0.83em
				margin-block-end: 0.83em

		td 
			@extend .border-right-bottom-padding
			&:first-child 
				border-left: 1px solid $orange
			
			&:nth-child(odd) td 
				background: $color_bon_jour_40_approx


		&:first-child th 
			color: $white
			background: $orange
			border-bottom: 9px solid #c45600
			&:first-child 
				//If you use compass, instead of the line below you could use + border-top-left-radius($radius)
				border-top-left-radius: 6px

			&:last-child 
				//If you use compass, instead of the line below you could use + border-top-right-radius($radius)
				border-top-right-radius: 6px


		&:last-child td 
			border-bottom: 3px solid $orange-dark
			&:first-child 
				//If you use compass, instead of the line below you could use + border-bottom-left-radius($radius)
				border-bottom-left-radius: 6px

			&:last-child 
				//If you use compass, instead of the line below you could use + border-bottom-right-radius($radius)
				border-bottom-right-radius: 6px





	&.price-table 
		tr:nth-child(3)
			td:first-child
				// border-left: none

	&.avtopark
		td:first-child 
				background: $blue-transparent

#fixed-table-container_price 
	&.fixed-table-container
		height: 500px
		th,
		td
			height: 60px !important
		td:first-child
			font-size: 12px
			white-space: normal !important
	td:first-child
		white-space: normal !important


// hny2020
.garland
	height: 68px
	background: center center repeat-x url(../img/hny2020/garland.png)
	margin-top: 3rem

table.price-table
	thead th
		position: sticky !important
		transition: top .3s ease-in-out
		top: 0
	thead.with_header th
		top: 100px
	tr td:first-child
		text-align: left
	tr td:nth-child(n + 3) 
		// text-align: center
	tr:nth-child(odd)
		background-color: $black_alpha05

	&.samara tr 
		&:nth-child(n + 1) td:nth-child(9) 
			background-color: $orange-transparent !important

.callback-form
	display: none

	#frmwrapper
		padding: 44px
		background-color: #f7f7f8
		margin: 0 3.7%
		position: relative

.callback-form.fancybox-content
	padding: 0
	background: transparent


.callback-form.fancybox-content img
	margin-bottom: -1px

form
	.form-check
		max-width: 400px
		width: 100%
	.help-block
		color: red

@import "media" // Always at the end
