.calc
	width: 100%
	input
		width: auto

.width-50
	width: 50%
	+media-breakpoint-down(sm)
		width: 100%

.form-group
	margin-bottom: 30px
	p
		margin-bottom: 10px
		font-weight: 500
	span
		+media-breakpoint-down(sm)
			display: none

.select-model
	margin-right: 30px

.dop-uslugi
	margin-bottom: 25px

.location-block


.custom-radio-check
	input
		width: 0 !important
		height: 0 !important
		margin: 0
		opacity: 0 !important
		&:checked ~ label
			background-color: $accent
			color: $white
	label
		margin: 0 15px 0 0
		background-color: #f0f0f0
		padding: 12px 30px
		border-radius: 30px
		cursor: pointer
		transition: all .25s ease

.custom-check
	margin-bottom: 5px
	+media-breakpoint-down(xs)
		width: 100%
	input
		width: 0 !important
		height: 0 !important
		margin: 0
		opacity: 0 !important
		&:checked ~ label
			color: $accent
			&::after
				opacity: 1
	label
		margin: 0
		position: relative
		padding-left: 20px
		margin-right: 14px
		cursor: pointer
		&::before
			content: ''
			display: block
			width: 15px
			height: 15px
			border: 1px solid $accent
			position: absolute
			left: 0
			top: 5px
			border-radius: 1px
		&::after
			content: ''
			display: block
			width: 11px
			height: 11px
			background-color: $accent
			position: absolute
			left: 2px
			top: 7px
			border-radius: 1px
			transition: all .25s ease
			opacity: 0
.select-date
	+media-breakpoint-down(xs)
		width: 100%
.fieldset-date
	justify-content: space-between
	width: 100%
	input
		margin: 0 10px
		+media-breakpoint-down(sm)
			margin: 0
			width: 48%
		+media-breakpoint-down(xs)
			width: 100%
			margin: 0 0 15px
